In [1]:
import numpy as np
import pandas as pd
from sklearn import *

In [2]:
df=pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [6]:
df['Transport'].mean()

215331.73244897963

In [7]:
fil_null_data=df['Transport'].mean()

In [8]:
df['Transport'].fillna(fil_null_data, inplace = True)

In [9]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Standardization

In [10]:
std_transformation=preprocessing.StandardScaler()

In [11]:
df[['Marketing Spend','Administration','Transport']]=std_transformation.fit_transform(df[['Marketing Spend','Administration','Transport']])

In [12]:
df.head() # After Standardization

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.187271    Dhaka  192261.83
1         1.955860        1.082807   1.949436      Ctg  191792.06
2         1.754364       -0.728257   1.642701  Rangpur  191050.39
3         1.554784       -0.096365   1.431738    Dhaka  182901.99
4         1.504937       -1.079919   1.286479  Rangpur  166187.94

In [13]:
max_abs_transformation=preprocessing.MaxAbsScaler()

In [17]:
df[['Marketing Spend','Administration','Transport']]=max_abs_transformation.fit_transform(df[['Marketing Spend','Administration','Transport']])

In [18]:
df.head() # After MaxAbsScaler

   Marketing Spend  Administration  Transport     Area     Profit
0         0.445303        0.221993   1.000000    Dhaka  192261.83
1         0.969971        0.428666   0.891264      Ctg  191792.06
2         0.870043       -0.288305   0.751028  Rangpur  191050.39
3         0.771065       -0.038149   0.654577    Dhaka  182901.99
4         0.746344       -0.427523   0.588166  Rangpur  166187.94

In [20]:
x=df[['Marketing Spend','Administration','Transport']]

In [22]:
df[['Marketing Spend','Administration','Transport']]=robust_transformation=preprocessing.robust_scale(x)

In [23]:
df.head() # After Robust Scaler

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.561661    Dhaka  192261.83
1         1.452113        0.697565   1.392082      Ctg  191792.06
2         1.303634       -0.524290   1.173378  Rangpur  191050.39
3         1.156567       -0.097977   1.022959    Dhaka  182901.99
4         1.119836       -0.761543   0.919389  Rangpur  166187.94